@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}

header{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
}

.logo{
    font-size: 3.8rem;
    margin-left: 2rem;
}

ul{
    display: flex;
}

ul li a{
    color: #000;
    margin: 0.4rem;
}

ul li a:hover{
    color: #fff;
    background-color: #555;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    transition: all .2s ease 0s;
}

.log-container a{
    justify-self: center;
    margin-left: 2rem;
    background: #a3203a;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
}

.circle{
    width: 100%;
    height: 100%;
    background: linear-gradient(#a3203a, #222);
    clip-path: circle(600px at left 750px);
    position: absolute;
    left: 0;
    bottom: 0;
    filter: opacity(0.7);
}

section{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr auto;
}

.vector-container img{
    position: absolute;
    width: 550px;
    margin-top: 119px;
    height: 450px;
    left: 0;
}

section .context{
    width: 440px;
    color: #000;
    position: relative;
    top: 15rem;
    right: 10rem;
    text-align: center;
}

section .context h1{
    font-size: 3rem;
}
section .context p{
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 1rem;
}

section .context a{
    color: white;
    background-color: #a3203a;
    border-radius: 10px;
    padding: 10px;
}